img {
	width: 100%;
}

.right h3 {
	padding-top: 15%;
}

.banner {
	color: white;
	background-color: red;
	text-align: center;
	padding: 20px 0px;
	margin: 45px 0px;
}

.banner h4 {
	font-size: 36px;
}

.col-md-4 {
	width: 30%;
	padding: 20px;
	margin: 10px 10px 10px 25px;
	background-color: #ebebeb;
}
